<!DOCTYPE html>
<html>
<head>
  <title>HackerNews</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1>H4X0R N3W5</h1>
    <nav>
    <%= link_to 'Home', root_path %> |
    <% if current_user %>
      <%= link_to 'My profile', user_path(current_user) %> |
      <%= link_to 'Logout', logout_path %>
    <% else %>
      <%= link_to 'Join', new_user_path %> |
      <%= link_to 'Login', login_path %>
    <% end %>
    </nav>
  </header>
<%= yield %>

</body>
</html>
